th{
  cursor: pointer;
}
body{
  font-family: Montserrat;
  background :#F3F3F3;
}
#x1,#x2{
  position: relative;
  margin:0 auto;
}
#spr{
  padding-top: 70px;
}
td,th{
  text-align: center;
}
.example_e {
color: white;
background: black;
border: 1px solid black;
transition: all 0.4s ease 0s;
}
.example_e:hover {
color:white;
background: black;
border: 1px solid white;
transition: all 0.4s ease 0s;
}
.js-example-basic-single{
  width: 'resolve';
}
.table{
  margin-bottom: 0px;
}
