<link href="/static/css/loader.css" rel="stylesheet">

<div class="pre-loader">
  <div class="loader">
    <img src="/static/images/loader1.gif" style="width:300px;height:300px;">
  </div>
</div>

<script type="text/javascript">
  (function($){
  'use strict';
    $(window).on('load', function () {
        if ($(".pre-loader").length > 0)
        {
            $(".pre-loader").fadeOut("slow");
        }
    });
  })(jQuery)
</script>

<header class="header">
  <div class="header_container">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="header_content d-flex flex-row align-items-center justify-content-start">
            <div class="logo"><a href="{% url 'home' %}">Furniture</a></div>
            <nav class="main_nav">
              <ul>
                <li class="hassubs">
                  <a href="{% url 'categories' %}">Products</a>
                  <ul>
                    <li><a href="{% url 'categories' %}">Beds</a></li>
                    <li><a href="{% url 'categories' %}">Mattresses</a></li>
                    <li><a href="{% url 'categories' %}">Chairs</a></li>
                    <li><a href="{% url 'categories' %}">Tables</a></li>
                    <li><a href="{% url 'categories' %}">Sofas</a></li>
                    <li><a href="{% url 'categories' %}">Lamps</a></li>
                    <li><a href="{% url 'categories' %}">Closets</a></li>
                    <li><a href="{% url 'categories' %}">Almirah</a></li>
                  </ul>
                </li>
                <li><a href="{% url 'categories' %}">Sale</a></li>
                <li><a href="{% url 'categories' %}">New</a></li>
                <li><a href="{% url 'categories' %}">Bedroom</a></li>
                <li><a href="{% url 'categories' %}">Dining</a></li>
                <li><a href="{% url 'categories' %}">Decor</a></li>
              </ul>
            </nav>

            <ul class="header_extra ml-auto" style="padding-right:25px">
              <li class="hassubs2" style="padding-right:20px">
                <div class="shopping_cart">
                  <a href="{% url 'cart' %}">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 489 489" style="enable-background:new 0 0 489 489;" xml:space="preserve">
                      <g>
                        <path d="M440.1,422.7l-28-315.3c-0.6-7-6.5-12.3-13.4-12.3h-57.6C340.3,42.5,297.3,0,244.5,0s-95.8,42.5-96.6,95.1H90.3
                          c-7,0-12.8,5.3-13.4,12.3l-28,315.3c0,0.4-0.1,0.8-0.1,1.2c0,35.9,32.9,65.1,73.4,65.1h244.6c40.5,0,73.4-29.2,73.4-65.1
                          C440.2,423.5,440.2,423.1,440.1,422.7z M244.5,27c37.9,0,68.8,30.4,69.6,68.1H174.9C175.7,57.4,206.6,27,244.5,27z M366.8,462
                          H122.2c-25.4,0-46-16.8-46.4-37.5l26.8-302.3h45.2v41c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5v-41h139.3v41
                          c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5v-41h45.2l26.9,302.3C412.8,445.2,392.1,462,366.8,462z"/>
                      </g>
                    </svg>
                    <div>Cart <span>(0)</span></div>
                  </a>
                  <ul>
                    <li><a href="#">Product 1</a></li>
                    <li><a href="#">Product 2</a></li>
                    <li><a href="#">Product 3</a></li>
                    <li><a href="#">Product 4</a></li>
                    <!-- The Submit button will redirect to the checkout page from its controller and not from fe -->
                    <li style="padding-top:10px"><input type="submit" class="button1 button_light1" style="color:black; height:30px; width:93px; font-weight:120; font-size:10px" name="" value="Checkout"></li>
                  </ul>
                </div>
                <div class="hamburger"><i class="fa fa-bars" aria-hidden="true"></i></div>
              </li>
            </ul>

            <!-- <ul>
              <li class="hassubs1" style="padding-right:20px">
                <ul>
                  <li><a href="{% url 'checkout' %}">Check Out</a></li>
                </ul>
              </li>
            </ul> -->

            <ul>
              <li class="hassubs1" style="padding-right:20px">
                {% if profile_picture == '' %}
                  <a href="#"><img src="/static/profile/pics/empty.png" alt="" style="width:40px;height:40px;border-radius:20px;"></a>
                {% else %}
                  <a href="#"><img src="/media/{{profile_picture}}" alt="" style="width:40px;height:40px;border-radius:20px;"></a>
                {% endif %}
                <ul>
                  <li><a href="{% url 'checkout' %}">Check Out</a></li>
                  <li><a href="{% url 'orders' %}">Your Orders</a></li>
                  <li><a href="{% url 'track' %}">Track Order</a></li>
                  <li><a href="{% url 'wishlist' %}">Your Wish List</a></li>
                  <li><a href="{% url 'profile' %}">Your Settings</a></li>
                  <li><a href="{% url 'returns' %}">Your Returns</a></li>
                  <li><a href="{% url 'address' %}">Saved Addresses</a></li>
                  <li><a href="{% url 'contact' %}">Contact Us</a></li>
                  <li><a href="#">Help</a></li>
                  <li><a href="{% url 'register' %}">Logout</a></li>
                </ul>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Social -->
  <div class="header_social">
    <ul>
      <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
    </ul>
  </div>
</header>

{% block navbar %}
{% endblock %}
