{% include 'base.html' %}
{% include 'navbar.html' %}

{% block base %}

<link href="/static/profile/css/sb-admin-2.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/profile/css/profile.css">
<link rel="stylesheet" href="/static/profile/css/style.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/main_styles.css">
<link rel="stylesheet" type="text/css" href="/static/css/responsive.css">


<body>

  	{% block navbar %}
    {% endblock %}

    <!-- purple area -->
    <header class="header_area" style="padding-top:130px">
        <div class="main_menu">
        </div>
    </header>

    <!-- <section class="home_banner_area"> -->
      <div class="container box_1620">
        <div class="banner_inner d-flex align-items-center">
          <div class="banner_content">
            <div class="media">
              <div class="d-flex" style="padding-right:70px;">
                {% if profile_picture == '' %}
                  <img src="/static/profile/pics/empty.png" alt="" style="height:500px;width:500px;">
                {% else %}
                  <img src="/media/{{profile_picture}}" alt="" style="height:500px;width:500px;border-radius:250px;">
                {% endif %}
              </div>
              <div class="media-body">
                <div class="personal_text">
                  <br><br>
                  <p style="font-size:45px"><b>Peronal Details</b></p>
                  <p style="font-size:20px">Name: {{name}}</p>
                  <p style="font-size:20px">Username: {{username}}</p>
                  {% if gender == 'm' %}
                    <p style="font-size:20px">Gender: Male</p>
                  {% elif gender == 'f' %}
                    <p style="font-size:20px">Gender: Female</p>
                  {% else %}
                    <p style="font-size:20px">Gender: Other</p>
                  {% endif %}
                  <p style="font-size:20px">Mobile: {{mobile}}</p>
                  <p style="font-size:20px">Email: {{email}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <p></p>

        <div style="padding-left:100px">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
              <input type="file" name="file1">
              <input class="btn example_e" type="submit" name='image_upload' value='Submit'>
          </form>
        </div>

        <!-- <div align="right">
          <button class="btn example_e" data-toggle="modal" data-target="#update_Modal" id="info_btn">UPDATE INFO</button>
        </div> -->
      </div>

      <!-- Info Update Modal -->
      <!-- <div class="modal fade" id="update_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content" style="width:850px;">

            <div class="page-content">
              <div class="form-v10-content">
                <form class="form-detail" method="POST">
                  <div class="form-left">
                  </div>
                    <div class="form-right">
                      <button class="close" type="button" data-dismiss="modal" aria-label="Close" style="color:white; padding-right:4%;padding-top:3%;">
                        <span aria-hidden="true">×</span>
                      </button>
                      {% csrf_token %}
                      <h2>Update Personal Information</h2>

                      <div class='form-row'>
                        <label style="color:white;"><small>Name</small></label>
                      </div>


                      <div class="form-group">
                        <div class="form-row form-row-1">
                          <label style="color:white;"><small>Skills</small></label>
                          <select class="js-example-basic-single" name="skill[]" style="width:100%;" multiple>
                          </select>
                        </div>
                      </div>

                      <p></p>

                      <div class='form-row-last'>
                        <input type="submit" class="register" value="UPDATE" name='update'>
                      </div>


                    </div>
                  </form>
                </div>
              </div>

          </div>
        </div>
      </div> -->


</body>

<script src="/static/js/custom.js"></script>
<script src="/static/profile/js/sb-admin-2.min.js"></script>

{% endblock %}
