{% include 'base.html' %}
{% include 'navbar.html' %}

{% block base %}

<link rel="stylesheet" type="text/css" href="/static/css/main_styles.css">
<link rel="stylesheet" type="text/css" href="/static/css/responsive.css">
<link rel="stylesheet" type="text/css" href="/static/css/your_orders.css">


<body>

  	{% block navbar %}
    {% endblock %}

    <!-- Home -->

    <div class="home">
      <div class="home_container">
        <div class="home_background" style="background-image:url(/static/images/cart.jpg)"></div>
        <div class="home_content_container">
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="home_content">
                  <div class="breadcrumbs">
                    <ul>
                      <li><a href="{% url 'home' %}">Home</a></li>
                      <li><a href="{% url 'cart-page' %}">Shopping Cart</a></li>
                      <li>Your Orders</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- address block -->
    <div class="address">
      <div class="address_heading">
        <ul class="row" style="font-size:15px;color:grey;">
          <li>
            <ul>
              <li>Order Placed</li>
              <li>{Date}</li>
            </ul>
          </li>
          <li style="padding-left:70px">
            <ul>
              <li>Total</li>
              <li>{Total}</li>
            </ul>
          </li>
          <li style="padding-left:70px">
            <label>Ship To</label>
            <div style="padding-left:2px;margin-top:-3px">
              <select class="" name="" style="height:10px;width:50px">
                <option value="">{Buyers Name}</option>
              </select>
            </div>
          </li>
          <li style="position:absolute;right:15px">
            <ul>
              <li>Order ID</li>
              <li>{Order ID}</li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="address_body">
        <ul style="color:black">
          <li><label style="font-size:17px;"><b>Delivered {DATE}</b></label></li>
          <li style="margin-top:-10px"><label style="font-size:12px;">{Who was the package handed to}</label></li>
        </ul>
      </div>
      <div class="address_body" style="margin-left:10px">
        <ul style="color:black" class="row">
          <li><img src="/static/profile/pics/empty.png" alt="Product Image" style="height:118px; width:100px;"></li>
          <li style="margin-left:30px">{Product Details}</li>
          <li style="position:absolute;right:30px">
            <ul>
              <li><input type="submit" name="feedback" value="Leave Seller Feedback"></li>
              <li style="margin-top:13px"><input type="submit" name="review" value="Write a Product Review"></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

</body>

<script src="/static/js/custom.js"></script>
<script src="/static/profile/js/sb-admin-2.min.js"></script>

{% endblock %}
