{% include 'base.html' %}
{% include 'navbar.html' %}

{% block base %}

<link href="/static/profile/css/sb-admin-2.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/profile/css/profile.css">
<link rel="stylesheet" href="/static/profile/css/style.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/main_styles.css">
<link rel="stylesheet" type="text/css" href="/static/css/responsive.css">


<body>

  	{% block navbar %}
    {% endblock %}


</body>

<script src="/static/js/custom.js"></script>
<script src="/static/profile/js/sb-admin-2.min.js"></script>

{% endblock %}
