{% include 'base.html' %}
{% include 'navbar.html' %}

{% block base %}

<link rel="stylesheet" type="text/css" href="/static/css/your_ads.css">
<link rel="stylesheet" type="text/css" href="/static/css/main_styles.css">
<link rel="stylesheet" type="text/css" href="/static/css/responsive.css">


<body>

  	{% block navbar %}
    {% endblock %}

    <div class="container box_1620" style="padding-top:130px" align=center>
      <input type="submit" class="button1 button_light1" style="color:black" name="" value="Create Ad">
    </div>



</body>

<script src="/static/js/custom.js"></script>

{% endblock %}
