{% include 'base.html' %}
{% include 'navbar.html' %}

{% block base %}

<link rel="stylesheet" type="text/css" href="/static/css/main_styles.css">
<link rel="stylesheet" type="text/css" href="/static/css/responsive.css">
<link rel="stylesheet" type="text/css" href="/static/css/your_orders.css">


<body>

  	{% block navbar %}
    {% endblock %}

    <!-- Home -->

    <div class="home">
      <div class="home_container">
        <div class="home_background" style="background-image:url(/static/images/cart.jpg)"></div>
        <div class="home_content_container">
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="home_content">
                  <div class="breadcrumbs">
                    <ul>
                      <li><a href="{% url 'home' %}">Home</a></li>
                      <li><a href="{% url 'cart-page' %}">Shopping Cart</a></li>
                      <li>Your Orders</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- address block -->
    <div class="address">
      <div class="address_heading">
        <ul class="row">
          <li><label style="font-size:15px;color:grey;">Order Placed</label></li>
          <li style="padding-left:70px"><label style="font-size:15px;color:grey;">Total</label></li>
          <li style="padding-left:70px">
            <label style="font-size:15px;color:grey;">Ship To</label>
            <div style="padding-left:2px;margin-top:-3px">
              <select class="" name="" style="height:10px;width:50px">
              </select>
            </div>
          </li>
          <li><label style="font-size:15px;color:grey;">Total</label></li>
        </ul>
      </div>
      <div class="address_body">
        <ul>
          <li><label style="font-size:20px;color:black;">Orders</label></li>
        </ul>
      </div>
    </div>

</body>

<script src="/static/js/custom.js"></script>
<script src="/static/profile/js/sb-admin-2.min.js"></script>

{% endblock %}
